{% extends 'MyZodiacSigns/Navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Zodiac Sign Finding{% endblock title %}
{% block content %}
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-6">
            <img class='d-block w-100 h-100' src="/media/ZodiacCardDetails.png" alt="Zodiac Details" />
        </div>
        <div class="col-md-6">
            <div class="Total-content">
                <div class="container">
                    <img class="d-block" src="/media/Raj_Horoscopes.png" alt="RajHoroscopesCompanyTag">
                    <div class="Total-content">
                        <div class="container">
                            <p> This website is created by U. Sai Uday Deep Reddy</p>
                            <p>This website stylings and animations are purely unique without any help (or) intervention
                                of any third person media.</p>
                            <p>This Website is created from the inspiration of <a
                                    href="https://www.horoscope.com/us/index.aspx">Horoscopes.com</a> website.</p>
                            <p>This is website contents are used based on permission access given about the website.</p>
                            <p>For Further More Details to Contact :</p>
                            <p>Mail to: <a href="mailto:RajBettRaj@gmail.com">RajBettRaj@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}