{% extends 'MyZodiacSigns/Navbar.html' %}
{% load static %}

{% block title %}Sagittarius Horoscope Details{% endblock title %}
{% block content %}
<div class="Image-container">
    <img class='image-carousel-sty' src="/media/Zodiac_carousels/Sagittarius_Zodiac.png" />
    <div class="image-text-block">
        <p class='block-text'><a href="#ZodiacContent" class='block-asty btn btn-primary'>
                <i class="fa-solid fa-chart-simple"></i>&nbsp;Sagittarius Horoscope Details</i></a></p>
    </div>
</div>
<div class="Total-content" id="ZodiacContent">
    <div class="container">
        <!-- NAV PILLS-->
        <ul class="nav nav-pills nav-fill ">
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#YesterdayCareer">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Yesterday_Details.png" /><span
                            class="info-sty d-none d-md-inline-block">YESTERDAY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#TodayCareer">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Today_Symbol.png" /><span
                            class="info-sty d-none d-md-inline-block">TODAY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#TomorrowCareer">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Tomorrow_Symbol.png" /><span
                            class="info-sty d-none d-md-inline-block">TOMORROW</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#WeeklyCareer">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Weekly_Symbol.png" /><span
                            class="info-sty d-none d-md-inline-block">WEEKLY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#MonthlyCareer">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Monthly_Symbol.png" /><span
                            class="info-sty d-none d-md-inline-block">MONTHLY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">
                    <span><img class="img-tab-sty" src="/media/Horoscope_Types/Yearly_Horoscopes.png" /><span
                            class="info-sty d-none d-md-inline-block">{{SagittariusHoroscopeDetails.Year}}</span></span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="YesterdayCareer" class='container tab-pane fade'>
                <h4 class="Detail-Caption-Sty">Yesterday Horoscope Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{SagittariusHoroscopeDetails.Yesterday_Date}}</span>&nbsp;-&nbsp;<span
                            class='desc-sty'>{{SagittariusHoroscopeDetails.Yesterday_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Sagittarius Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">Sagittarius Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:SagittariusBasicZodiacDetails' %}">Sagittarius Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusHoroscopeDetails' %}">Sagittarius Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacCareerDetails' %}">Sagittarius Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacHealthDetails' %}">Sagittarius Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacLoveDetails' %}">Sagittarius Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacMoneyDetail' %}">Sagittarius Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacRetailDetails' %}">Sagittarius Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
            <div id="TodayCareer" class='container tab-pane active'>
                <h4 class="Detail-Caption-Sty">Today Horoscope Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{SagittariusHoroscopeDetails.Present_Date}}</span>&nbsp;-&nbsp;<span
                            class='desc-sty'>{{SagittariusHoroscopeDetails.Today_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Sagittarius Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">Sagittarius Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:SagittariusBasicZodiacDetails' %}">Sagittarius Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusHoroscopeDetails' %}">Sagittarius Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacCareerDetails' %}">Sagittarius Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacHealthDetails' %}">Sagittarius Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacLoveDetails' %}">Sagittarius Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacMoneyDetail' %}">Sagittarius Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacRetailDetails' %}">Sagittarius Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
            <div id="TomorrowCareer" class='container tab-pane fade'>
                <h4 class="Detail-Caption-Sty">Tomorrow Horoscope Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{SagittariusHoroscopeDetails.Tomorrow_Date}}</span>&nbsp;-&nbsp;<span
                            class='desc-sty'>{{SagittariusHoroscopeDetails.Tomorrow_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Sagittarius Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">Sagittarius Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:SagittariusBasicZodiacDetails' %}">Sagittarius Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusHoroscopeDetails' %}">Sagittarius Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacCareerDetails' %}">Sagittarius Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacHealthDetails' %}">Sagittarius Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacLoveDetails' %}">Sagittarius Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacMoneyDetail' %}">Sagittarius Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacRetailDetails' %}">Sagittarius Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
            <div id="WeeklyCareer" class='container tab-pane fade'>
                <h4 class="Detail-Caption-Sty">Weekly Horoscope Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span
                            class="strong-text">{{SagittariusHoroscopeDetails.start_week_date}}&nbsp;-&nbsp;{{SagittariusHoroscopeDetails.end_week_date}}</span>&nbsp;-&nbsp;<span
                            class='desc-sty'>{{SagittariusHoroscopeDetails.Weekly_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Sagittarius Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">Sagittarius Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:SagittariusBasicZodiacDetails' %}">Sagittarius Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusHoroscopeDetails' %}">Sagittarius Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacCareerDetails' %}">Sagittarius Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacHealthDetails' %}">Sagittarius Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacLoveDetails' %}">Sagittarius Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacMoneyDetail' %}">Sagittarius Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacRetailDetails' %}">Sagittarius Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
            <div id="MonthlyCareer" class='container tab-pane fade'>
                <h4 class="Detail-Caption-Sty">Monthly Horoscope Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{SagittariusHoroscopeDetails.Month_Details}}</span>&nbsp;-&nbsp;<span
                            class='desc-sty'>{{SagittariusHoroscopeDetails.Monthly_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Sagittarius Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacOverview' %}">Sagittarius Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:SagittariusBasicZodiacDetails' %}">Sagittarius Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusHoroscopeDetails' %}">Sagittarius Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacCareerDetails' %}">Sagittarius Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacHealthDetails' %}">Sagittarius Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacLoveDetails' %}">Sagittarius Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacMoneyDetail' %}">Sagittarius Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:SagittariusZodiacRetailDetails' %}">Sagittarius Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}