{% extends 'MyZodiacSigns/Navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Birthday General Details{% endblock title %}
{% block content %}
<div class="Total-content">
    <div class="container">
        <div class='FormContentStyling'>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="Submit" name="submit" value="Submit" class='btn btn-secondary' />
            </form>
        </div>
        {% if submitbutton == "Submit" %}
        <div class="Total-content">
            <div class="Birthday-Content-Styling">
                <div class='Birthday-Tab-Content-Styling d-none d-md-inline-block'>
                    <div class="d-flex justify-content-between ">
                        <div class="p-2  align-self-center">
                            <img src="/media/Birthday/Emoji/BdayEmoji.png" class="bday-logo" alt="Birthday Emoji" />
                        </div>
                        <div class="p-2 text-center">
                            <div class="Horizonatal-Baloon-Styling text-center">
                                <img src="/media/Birthday/Baloons/Horizontal_Baloon.png" class="bday-baloon-logo"
                                    alt="Birthday Baloons" />
                            </div>
                            <div class='d-flex justify-content-between'>
                                <div class='p-2'>
                                    <img src="/media/Birthday/Gifts/Gift.png" class="Bday-Gifts" alt="Birthday Gifts" />
                                </div>
                                <div class='Cake-Content p-2'>
                                    <img src="/media/Birthday/Cakes/Special_Cake.png" class="bday-cake-logo"
                                        alt="Birthday Special Cake" />
                                </div>
                                <div class='p-2 align-self-center'>
                                    <img src="/media/Birthday/Emoji/Friends-Emoji.png" class="bday-friends-logo"
                                        alt="Birthday Friends" />
                                </div>
                            </div>
                        </div>
                        <div class="p-2 align-self-center">
                            <img src="/media/Birthday/Baloons/Vertical_Baloon.png" class="verticalbaloon-logo"
                                alt="Birthday Baloons" />
                        </div>
                    </div>
                </div>
                <div class="Mobile-MobileContentSTyling d-block d-md-none">
                    <div class="p-2">
                        <div class="Horizonatal-Baloon-Styling text-center">
                            <img src="/media/Birthday/Baloons/Horizontal_Baloon.png" class="bday-baloon-logo"
                                alt="Birthday Baloons" />
                        </div>
                        <div class='d-flex justify-content-between'>
                            <div class='p-2'>
                                <img src="/media/Birthday/Gifts/Gift.png" class="Bday-Gifts" alt="Birthday Gifts" />
                            </div>
                            <div class='Cake-Content p-2'>
                                <img src="/media/Birthday/Cakes/Special_Cake.png" class="bday-cake-logo"
                                    alt="Birthday Special Cake" />
                            </div>
                            <div class='p-2 align-self-center'>
                                <img src="/media/Birthday/Emoji/Friends-Emoji.png" class="bday-friends-logo"
                                    alt="Birthday Friends" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Content-->
            </div>
            <div class="GeneralOverallContentDetails">
                <ul class="nav nav-pills nav-fill ">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#BirthdayPartyIdeas">
                            <span><img class="img-tab-sty" src="/media/Birthday/OtherDetails/BirthdayParty.png" />
                                <span class="info-sty d-none d-md-inline-block">PARTY IDEAS</span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#BirthdayDestinationIdeas">
                            <span><img class="img-tab-sty" src="/media/Birthday/OtherDetails/PartyDestinations.png" />
                                <span class="info-sty d-none d-md-inline-block">DESTINATION IDEAS</span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#BirthdayPamperingIdeas">
                            <span><img class="img-tab-sty" src="/media/Birthday/OtherDetails/Crown.png" />
                                <span class="info-sty d-none d-md-inline-block">PAMPERING</span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#BirthdayGiftIdeas">
                            <span><img class="img-tab-sty" src="/media/Birthday/OtherDetails/Gifts.png" />
                                <span class="info-sty d-none d-md-inline-block">GIFT IDEAS</span></span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="BirthdayPartyIdeas" class='container tab-pane active'>
                        <div class='Img-Icon-Content text-center'>
                            <img src="/media/Birthday/OtherDetails/BirthdayParty.png" class='bday-party-icon'
                            alt="Birthday Party" />
                        </div>
                        <h3 class='text-center'><i>Party Ideas for {{DateWiseBirthDate.ZodiacSign}} Birthday Horoscopes</i></h3>
                        <h5 class='text-center'><i>For those who born on {{DateWiseBirthDate.Birth_Date}}
                                {{DateWiseBirthDate.Birth_Month}}</i></h5>
                        <div class='description-styling'>
                            <div class='para-sty'>
                                {% for i in DateWiseBirthDate.Bday_Party_Desc %}
                                <p><i>{{i}}</i></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="BirthdayDestinationIdeas" class='container tab-pane fade'>
                        <div class='Img-Icon-Content text-center'>
                            <img src="/media/Birthday/OtherDetails/PartyDestinations.png" class="bday-gift-icon" class='gifts' />
                        </div>
                        <h3 class='text-center'><i>Destination Ideas for {{DateWiseBirthDate.ZodiacSign}} Birthday Horoscopes</i></h3>
                        <h5 class='text-center'><i>For those who born on {{DateWiseBirthDate.Birth_Date}}
                                {{DateWiseBirthDate.Birth_Month}}</i></h5>
                        <div class='description-styling'>
                            <div class='para-sty'>
                                {% for i in DateWiseBirthDate.Bday_Destination_Desc %}
                                <p><i>{{i}}</i></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="BirthdayPamperingIdeas" class='container tab-pane fade'>
                        <div class='Img-Icon-Content text-center'>
                            <img src="/media/Birthday/OtherDetails/Crown.png" class="bday-main-icon" class='gifts' />
                        </div>
                        <h3 class='text-center'><i>Pampering Ideas for {{DateWiseBirthDate.ZodiacSign}} Birthday Horoscopes</i></h3>
                        <h5 class='text-center'><i>For those who born on {{DateWiseBirthDate.Birth_Date}}
                                {{DateWiseBirthDate.Birth_Month}}</i></h5>
                        <div class='description-styling'>
                            <div class='para-sty'>
                                {% for i in DateWiseBirthDate.Bday_Pampering_Desc %}
                                <p><i>{{i}}</i></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="BirthdayGiftIdeas" class='container tab-pane fade'>
                        <div class='Img-Icon-Content text-center'>
                            <img src="/media/Birthday/OtherDetails/Gifts.png" class="bday-gift-icon" class='gifts' />
                        </div>
                        <h3 class='text-center'><i>Gift Ideas for {{DateWiseBirthDate.ZodiacSign}} Birthday Horoscopes</i></h3>
                        <h5 class='text-center'><i>For those who born on {{DateWiseBirthDate.Birth_Date}}
                                {{DateWiseBirthDate.Birth_Month}}</i></h5>
                        <div class='description-styling'>
                            <div class='para-sty'>
                                {% for i in DateWiseBirthDate.Bday_Gifts_Desc %}
                                <p><i>{{i}}</i></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}