{% extends 'MyZodiacSigns/Navbar.html' %}
{% load static %}

{% block title %}Leo Money Details{% endblock title %}
{% block content %}
<div class="Image-container">
    <img class='image-carousel-sty' src="/media/Zodiac_carousels/Leo_Zodiac.png" />
    <div class="image-text-block">
        <p class='block-text'><a href="#ZodiacMoneyContent" class='block-asty btn btn-primary'>
                <i class="fa-solid fa-chart-simple"></i>&nbsp;Leo Money Details</i></a></p>
    </div>
</div>
<div class="Total-content" id="ZodiacMoneyContent">
    <div class="container">
        <!-- NAV PILLS-->
        <ul class="nav nav-pills nav-fill ">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#WeeklyMoneyDetails"><span><img class="img-tab-sty" src="/media/Horoscope_Types/Weekly_Symbol.png" /><span
                    class="info-sty d-none d-md-inline-block">WEEKLY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MyZodiacSigns:LeoZodiacOverview' %}"><span><img class="img-tab-sty" src="/media/Horoscope_Types/Yearly_Horoscopes.png" /><span
                    class="info-sty d-none d-md-inline-block">{{LeoMoneyDetails.Year}}</span></span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="WeeklyMoneyDetails" class='container tab-pane active'>
                <h4 class="Detail-Caption-Sty">Leo Weekly Money Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{LeoMoneyDetails.start_week_date}}&nbsp;-&nbsp;{{LeoMoneyDetails.end_week_date}}</span>&nbsp;-&nbsp;<span class='desc-sty'>{{LeoMoneyDetails.Weekly_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Leo Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacOverview' %}">Leo Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:LeoBasicZodiacDetails' %}">Leo Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:LeoHoroscopeDetails' %}">Leo Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacCareerDetails' %}">Leo Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacHealthDetails' %}">Leo Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacLoveDetails' %}">Leo Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacMoneyDetail' %}">Leo Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:LeoZodiacRetailDetails' %}">Leo Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}