{% extends 'MyZodiacSigns/Navbar.html' %}
{% load static %}

{% block title %}Capricorn Retail Details{% endblock title %}
{% block content %}
<div class="Image-container">
    <img class='image-carousel-sty' src="/media/Zodiac_carousels/Capricorn_Zodiac.png" />
    <div class="image-text-block">
        <p class='block-text'><a href="#ZodiacRetailContent" class='block-asty btn btn-primary'>
                <i class="fa-solid fa-chart-simple"></i>&nbsp;Capricorn Retail Details</i></a></p>
    </div>
</div>
<div class="Total-content" id="ZodiacRetailContent">
    <div class="container">
        <!-- NAV PILLS-->
        <ul class="nav nav-pills nav-fill ">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#WeeklyRetailDetails"><span><img class="img-tab-sty" src="/media/Horoscope_Types/Weekly_Symbol.png" /><span
                    class="info-sty d-none d-md-inline-block">WEEKLY</span></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MyZodiacSigns:CapricornZodiacOverview' %}"><span><img class="img-tab-sty" src="/media/Horoscope_Types/Yearly_Horoscopes.png" /><span
                    class="info-sty d-none d-md-inline-block">{{CapricornRetailDetails.Year}}</span></span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="WeeklyRetailDetails" class='container tab-pane active'>
                <h4 class="Detail-Caption-Sty">Capricorn Weekly Retail Details</h4>
                <div class='Content-Description-Sty'>
                    <p><span class="strong-text">{{CapricornRetailDetails.start_week_date}}&nbsp;-&nbsp;{{CapricornRetailDetails.end_week_date}}</span>&nbsp;-&nbsp;<span class='desc-sty'>{{CapricornRetailDetails.Weekly_Description}}</span></p>
                </div>
                <div class="LinkContainerDetailSty">
                    <h4 class="LinkCaptionSty">More details about Capricorn Zodiac Sign</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacOverview' %}">Capricorn Overview Details</a><a class="link-item"
                            href="{% url 'MyZodiacSigns:CapricornBasicZodiacDetails' %}">Capricorn Basic Details</a><a class="link-item" href="{% url 'MyZodiacSigns:CapricornHoroscopeDetails' %}">Capricorn Horoscope Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacCareerDetails' %}">Capricorn Career Details</a><a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacHealthDetails' %}">Capricorn Health Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacLoveDetails' %}">Capricorn Love Details</a><a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacMoneyDetail' %}">Capricorn Money Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:CapricornZodiacRetailDetails' %}">Capricorn Retail Details</a></span>
                    <h4 class="LinkCaptionSty">More details about All Zodiac Signs</h4>
                    <span class="LinkDetails"><a class="link-item" href="{% url 'MyZodiacSigns:OverallZodiacOverviewDetails' %}">Overall view Details</a>
                        <a class="link-item" href="{% url 'MyZodiacSigns:HomePage' %}">Overall Horoscope Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacCareerDetails' %}">Overall Career
                            Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacHealthDetails' %}">Overall Health Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacLoveDetails' %}">Overall Love Details</a>
                            <a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacMoneyDetails' %}">Overall Money Details</a><a class="link-item" href="{% url 'MyZodiacSigns:MyZodiacRetailDetails' %}">Overall Retail Details</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}